
<section class="sec1" id="blog">
  <div class="container">
    <div class="row">
      <div class="offset-sm-2 col-sm-8">
        <div class="headerText text-center">
          <h2>Blog của tôi và các bạn</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="placeBox">
          <div class="imgBx">
            <img
              src="http://giaoducquocte.com.vn/profiles/giaoducquoctecomvn/uploads/attach/1446865357_tam-dac-thu-cua-nghe-huong-dan-v.png"
              class="img-fluid">
          </div>
          <div class="content">
            <h3>Du Lịch Nhé</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="placeBox">
          <div class="imgBx">
            <img src="http://aum.edu.vn/sites/default/files/aum/tintuc/cong_nghe_thong_tin_0.jpg" class="img-fluid">
          </div>
          <div class="content">
            <h3>Công nghệ thông tin</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="placeBox">
          <div class="imgBx">
            <img
              src="https://o.aolcdn.com/images/dims?quality=85&image_uri=http%3A%2F%2Fo.aolcdn.com%2Fhss%2Fstorage%2Fmidas%2F670a1a33be1fcabdebe882b04d133666%2F203147314%2Flol-tencent-2015-12-17-01.jpg&client=amp-blogside-v2&signature=1d8f1a25702ca2f4924b74add55925a6b29ac80c"
              class="img-fluid">
          </div>
          <div class="content">
            <h3>Game</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

