th .mat-sort-header-sorted {
  color: black;
}
tr .mat-header-row{
  font-weight: bold;
}
table {
  margin-top: 40px;
  width: 100%;
}
td, th {
  width: 16%;
  text-align: center;
}
img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 10px 0 10px 0;
}
::ng-deep .mat-sort-header-container{
  display: flex;
  justify-content: center;
}
.mat-header-cell{
  text-align: center;
}
