.login{
  position: relative;
  padding: 100px 0;
  background: url("https://wallpaperplay.com/walls/full/7/9/b/35079.jpg ");
  background-size: cover;
  height: 100vh;
}
h2{
  color: #fff;
}
//.login form{
//  //z-index: 1000;
//  //position: relative;
//}
.login .form-control{
  background: transparent;
  border: none;
  border-bottom: 2px solid rgba(255,255,255,.2);
  //height: 50px;
  border-radius: 0;
  //background: rgba(0,0,0,.6);
  //color: #fff;
  font-size: 1.25rem;
}
.login .form-control:focus,
.login .form-control:hover{
  border: none;
  border-bottom: 2px solid rgba(255,255,255,1);
  box-shadow: none;
}
.login label{
  color: #fff;
  font-size: 1.25rem;
}
.col-sm-12{
  bottom: 0px;
  position: absolute;
}
.sci{
  display: flex;

  justify-content: center;
}
.sci li{
  list-style: none;
  margin: 0 20px;
}
.sci li a {
  color: #fff;
  font-size: 2em;
  transition: 0.5s;
  display: inline-block;
}
.sci li a:hover{
  color: #000;
}



