<div class="login">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class=" col-sm-4 offset-sm-4 " id="login">
    <div class="form-group row" *ngIf="status">
      <label class="col text-center">
        <a class="alert alert-danger word">Username or password is incorrect
        </a>
      </label>
    </div>
    <h2 class="text-center">Login</h2>
    <div class="form-group row">
      <label class="col">
        UserName
        <input type="text" formControlName="name" class="form-control">
      </label>
    </div>
    <div class="form-group row">
      <label class="col">
        Password
        <input type="password" formControlName="password" class="form-control">
      </label>
    </div>
    <button type="submit" class="btn btn-dark ">Submit</button>
  </form>
</div>


