<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><h3>Dynamic</h3></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-lg-auto">
        <li class="nav-item ">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Trang chủ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Danh sách</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Log out</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<hr>
<body>
<div class="create">
  <form [formGroup]="form" class=" col col-md-6 offset-md-3 " >
    <div class="form-group row">
      <label class="col">
        Title
        <input type="text" class="form-control" >
      </label>
    </div>
    <div class="form-group row">
    <label class="col">
    Content
    <textarea rows="20" class="form-control" ></textarea>
    </label>
    </div>
      <div class="form-group row">
      <label class="col">
        Avatar
        <input type="file">
      </label>
    </div>
    <button type="submit" class="btn btn-dark ">Submit</button>
  </form>
</div>
</body>



