<section class="sec2" id="blog">
<div class="create">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class=" col col-md-6 offset-md-3 " >
    <div class="form-group row">
      <label class="col">
        Title
        <input type="text" formControlName="title" class="form-control">
      </label>
    </div>
    <div *ngIf="form.get('title').invalid && form.get('title').touched" class="alert alert-danger">
      At least 3 character!
    </div>
    <div class="form-group row">
      <label class="col">
        Category
        <br>
        <select class="form-control dropdown" formControlName="category">
          <option *ngFor="let item of categoryList" [ngValue]="item">{{item.category}}</option>
        </select>
      </label>
    </div>
    <div *ngIf="form.get('category').invalid && form.get('category').touched" class="alert alert-danger">
      Choose something!
    </div>
    <div class="form-group row dat">
      <label class="col">
        Content
        <quill-editor formControlName="content"></quill-editor>
      </label>
    </div>
    <div *ngIf="form.get('content').invalid && form.get('content').touched" class="alert alert-danger">
      At least 3 character!
    </div>
    <div class="form-group row">
      <label class="col">
        Avatar
        <br>
        <input type="file" (change)="onSelect($event)">
      </label>
    </div>
    <button type="submit" class="btn btn-dark ">Submit</button>
  </form>
</div>
</section>




