<!--<header>-->
  <!--<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">-->
    <!--<div class="container">-->
      <!--<a class="navbar-brand" href="#"><h3>Blog</h3></a>-->
      <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"-->
              <!--aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
        <!--<span class="navbar-toggler-icon"></span>-->
      <!--</button>-->
      <!--<div class="collapse navbar-collapse" id="navbarSupportedContent">-->
        <!--<ul class="navbar-nav ml-lg-auto">-->
          <!--<li class="nav-item active">-->
            <!--<a class="nav-link" href="#home">Trang chủ <span class="sr-only">(current)</span></a>-->
          <!--</li>-->
          <!--<li class="nav-item">-->
            <!--<a class="nav-link" href="#category">Thể loại</a>-->
          <!--</li>-->
          <!--<li class="nav-item">-->
            <!--<a class="nav-link" href="#blog">Danh sách Blog</a>-->
          <!--</li>-->
          <!--<li class="nav-item">-->
            <!--<a class="nav-link" href="#login" *ngIf="!loginSvr.isAuthentical()">Login</a>-->
            <!--<a class="nav-link" (click)="loginSvr.logout()" *ngIf="loginSvr.isAuthentical()">Logout</a>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</div>-->
    <!--</div>-->
  <!--</nav>-->
<!--</header>-->
<!--<div class="jumbotron jumbotron-fluid height100p banner" id="home">-->
  <!--<div class="container h100">-->
   <!--<div class="contentBox h100">-->
     <!--<div >-->
       <!--<h1>Blog Dynamic</h1>-->
       <!--<p>Blog Dynamic là nơi mọi chuyện trên trời dưới biển đủ thể loại...................</p>-->
     <!--</div>-->
   <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--<app-category-blog></app-category-blog>-->
<!--<app-detail-blog></app-detail-blog>-->
<!--<app-login *ngIf="!loginSvr.isAuthentical()"></app-login>-->
<app-create></app-create>
<router-outlet></router-outlet>
