<mat-sidenav-container class="content">
  <mat-sidenav #drawer  class="sidenav" mode="side">
    <a class="text-center" href="#">Dynamic</a>
    <button color="primary" mat-button routerLink="create">
      <mat-icon>add</mat-icon>Create</button>
    <button color="primary" mat-button routerLink="list">List</button>
    <button color="primary" mat-button routerLink="category">Category</button>
    <button color="primary" mat-button (click)="loginSvr.logout()">Đăng xuất</button>
  </mat-sidenav>
  <div>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="spacer"></span>

        <form class="example-form">
          <mat-form-field class="example-full-width">
            <input matInput aria-label="State" [matAutocomplete]="auto" (focus)="focusInput($event)" [formControl]="blogControl" (change)="getName($event.target.value)">
            <mat-placeholder class="placeholder">
              <a [style.display]="display">Search</a>
            </mat-placeholder>
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let blog of filteredBlogs | async" [value]="blog.title" (click)="chooseName($event.toElement.innerText)">
                <span [innerHTML]="blog.title | bold: toHighlight"></span>
                <span></span>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>

        <button mat-icon-button (click)="search()">
          <mat-icon>search</mat-icon>
        </button>

      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>

