.content .sidenav{
  min-width: 200px;
}
.content{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.content .sidenav .mat-button{
  margin-top: 10px;
  display: block;
  width: 100%;
  text-align: left;
}
.spacer{
  flex: 1 1 auto;
}
.example-form {
  min-width: 150px;
  max-width: 200px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.content .sidenav a{
  text-decoration: none;
  height: 64px;
  margin: 0;
  padding: 0;
  background: #673ab7;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

