<section class="sec2" id="blog">
  <div class="container ">
    <div class="row" >
      <div class="offset-sm-2 col-sm-8">
        <div class="headerText text-center">
          <h2>Danh sách Blog </h2>
          <p>Dưới đây là  blog mới nhất của nhóm Dynamic, mời mọi người lựa chọn </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
      <div class="blogpost">
        <div class="imgBx">
          <img src="http://giaoducquocte.com.vn/profiles/giaoducquoctecomvn/uploads/attach/1446865357_tam-dac-thu-cua-nghe-huong-dan-v.png"  class="img-fluid" >
        </div>
        <div class="content">
          <h1>Chuyến du lịch Nha Trang</h1>
          <p>Từ lâu, em đã mong ước được nhìn ngắm biển Nha Trang, một danh lam thắng cảnh bậc nhất của đất nước Việt Nam. Và cuối cùng, ước mơ ấy đã trở thành hiện thực, nhờ có hoạt động hè của thiếu nhi do xã tổ chức để khen tặng các em học sinh có thành tích xuất sắc trong năm học nên em đã có một chuyến tham quan vùng biển thơ mộng này. Chuyến tham quan của em đã để lại trong em những kỉ niệm khó quên về bãi biển Nha Trang đầy nắng và gió.
          </p>
        </div>
      </div>
    </div>
      <div class="col-sm-6">
        <div class="blogpost">
          <div class="imgBx">
            <img src="http://aum.edu.vn/sites/default/files/aum/tintuc/cong_nghe_thong_tin_0.jpg"  class="img-fluid" >
          </div>
          <div class="content">
            <h1>Thế giới công nghệ thông tin Dynamic </h1>
            <p>Từ lâu, em đã mong ước được nhìn ngắm biển Nha Trang, một danh lam thắng cảnh bậc nhất của đất nước Việt Nam. Và cuối cùng, ước mơ ấy đã trở thành hiện thực, nhờ có hoạt động hè của thiếu nhi do xã tổ chức để khen tặng các em học sinh có thành tích xuất sắc trong năm học nên em đã có một chuyến tham quan vùng biển thơ mộng này. Chuyến tham quan của em đã để lại trong em những kỉ niệm khó quên về bãi biển Nha Trang đầy nắng và gió.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="blogpost">
          <div class="imgBx">
            <img src="https://o.aolcdn.com/images/dims?quality=85&image_uri=http%3A%2F%2Fo.aolcdn.com%2Fhss%2Fstorage%2Fmidas%2F670a1a33be1fcabdebe882b04d133666%2F203147314%2Flol-tencent-2015-12-17-01.jpg&client=amp-blogside-v2&signature=1d8f1a25702ca2f4924b74add55925a6b29ac80c"  class="img-fluid" >
          </div>
          <div class="content">
            <h1>Thế giới game Dynamic</h1>
            <p>Từ lâu, em đã mong ước được nhìn ngắm biển Nha Trang, một danh lam thắng cảnh bậc nhất của đất nước Việt Nam. Và cuối cùng, ước mơ ấy đã trở thành hiện thực, nhờ có hoạt động hè của thiếu nhi do xã tổ chức để khen tặng các em học sinh có thành tích xuất sắc trong năm học nên em đã có một chuyến tham quan vùng biển thơ mộng này. Chuyến tham quan của em đã để lại trong em những kỉ niệm khó quên về bãi biển Nha Trang đầy nắng và gió.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="blogpost">
          <div class="imgBx">
            <img src="http://giaoducquocte.com.vn/profiles/giaoducquoctecomvn/uploads/attach/1446865357_tam-dac-thu-cua-nghe-huong-dan-v.png"  class="img-fluid" >
          </div>
          <div class="content">
            <h1>Chuyến du lịch Nha Trang</h1>
            <p>Từ lâu, em đã mong ước được nhìn ngắm biển Nha Trang, một danh lam thắng cảnh bậc nhất của đất nước Việt Nam. Và cuối cùng, ước mơ ấy đã trở thành hiện thực, nhờ có hoạt động hè của thiếu nhi do xã tổ chức để khen tặng các em học sinh có thành tích xuất sắc trong năm học nên em đã có một chuyến tham quan vùng biển thơ mộng này. Chuyến tham quan của em đã để lại trong em những kỉ niệm khó quên về bãi biển Nha Trang đầy nắng và gió.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
