.sec2{
  position: absolute;
  width: 100%;
  min-height: 100vh;
  padding: 100px 0;
  background: #262626;
}
.headerText{
  color: #fff;
}
.headerText h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}
.testimonial{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  margin: 50px auto 100px;
}
.testimonial .card{
  border-radius: 10px;
  position: relative;
  width: 250px;
  margin: 0 auto;
  background: #333;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0 10px 40px rgba(0,0,0,.5);
  overflow: hidden;
}
.testimonial .card .layer {
  position: absolute;
  top: calc(100% - 2px);
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#03a9f4, #e91ee3);
  z-index: 1;
  transition: 0.5s;
}
.testimonial .card:hover .layer{
  top:0;
}
.testimonial .card .content {
  z-index: 2;
  position: relative;
}
.testimonial .card .content .imgBx img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #fff;
  box-shadow: 0 10px 20px rgba(0,0,0,.2);
}
.testimonial .card .content h2{
  margin-top: 10px;
  font-size: 18px;
  color: #fff;
}
.testimonial .card .content h2 span {
  color: #03a9f4;
  font-size: 14px;
  transition: 0.5s;
}
.testimonial .card:hover .content h2 span {
  color: #fff;
}
.testimonial .card:hover .view a:link {
  height: calc(100% + 20px);
  width: calc(100% + 20px);
  position: absolute;
  z-index: 2;
  top: -20px;
  left: -20px;
}
.testimonial .card button{
  z-index: -1;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  background: #000;
  border: none;
  top: 2px;
  left: 2px;
  color: white;
  transition: 0.25s;
}
.testimonial .card:hover button{
  z-index: 2;
  position: absolute;
}
.testimonial .card .edit a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  z-index: -1;
  border-radius: 50%;
  position: absolute;
  background: #000;
  border: none;
  top: 2px;
  right: 2px;
  color: white;
  transition: 0.25s;
}
.testimonial .card:hover .edit a{
  z-index: 2;
  position: absolute;
}

