.example-card {
  max-width: 500px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
img{
  margin:0 5px 15px 5px;
  width: calc(100% - 10px);
  object-fit: cover;
}
.phamdat{
  max-width: 100%;
}
.phamdat1{
  width: 120px;
}
@media (min-width: 992px) {
  .example-card {
    left: calc(50% - 250px);
    margin-top: 100px;
    margin-bottom: 100px;
  }
}