.sec2{
  position: relative;
  width: 100%;
  padding: 100px 0;
  background: url("https://i.pinimg.com/originals/29/e8/14/29e8144a9316ea85fc887cc6a2bd40f6.jpg");
}
.title{
  font-family: "Noto Serif" , serif;
  margin-top: 0;
  padding-left: 10px;
}
.category{
  font-size: 20px;
  padding-left: 10px;
}
.col{
  padding-top: 0;
}
.body{
  border: black 1px solid;
}
.content{
  top: 50px;
  padding-top: 50px;
  clear: both;

}
.image{
  float: left;
  padding-top: 10px;
}
