///* You can add global styles to this file, and also import other style fi;
@import "~bootstrap/scss/bootstrap";
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~ngx-toastr/toastr.css";

.confirm-dialog-container #yes-button{
  margin-top: 28px;
  height: 40px;
  width: 50%;
  background-color: #b6bece;
  color: white;
  border-radius: 0;
}
.confirm-dialog-container span.content-span{
  padding-left: 50px;
  text-align: center;
  margin-top: 50px;
  font-size: 20px;
}
.confirm-dialog-container .content-container{
  margin: 5px 5px 15px 5px;
  color: #8f9cb5;
  display: flex;
  height: 300px;
}
.confirm-dialog-container #close-icon{
  margin-left: auto;
  order: 2;
  font-weight: bolder;
}
.confirm-dialog-container #close-icon:hover{
  cursor: pointer;
}
.confirm-dialog-container #no-button{
  height: 40px;
  width: 50%;
  background-color: #fc7169;
  color: white;
  border-radius: 0;
}
.confirm-dialog-container .mat-dialog-container{
  border-radius: .25em .25em .4em .4em;
  padding: 0;
}
.khoi{
  height: 100px;
}
#toast-container > div {
  opacity: 1;
}

