table {
  margin-top: 40px;
  width: 100%;
}
th .mat-sort-header-sorted {
  color: black;
}
tr .mat-header-row{
  font-weight: bold;
}
td, th {
  width: 20%;
  text-align: center;
}
::ng-deep .mat-sort-header-container{
  display: flex;
  justify-content: center;
}
.mat-header-cell{
  text-align: center;
}

